*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Main wrapper container*/

.hero{
    width: 100%;
    height:100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/background.png);
    background-position:center;
    background-size: cover;
    position: relative;
    padding-top: 1em;
}
.navbar{
    width: 94%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 58px;    
}

.navbar ul{
    list-style: none;
}
.navbar li{
    display: inline;
    margin: 
}